@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@theme {
  --font-inter: "Inter", system-ui, sans-serif;
}

@utility font-inter {
  font-family: var(--font-inter);
}

@font-face {
  font-family: "Satoshi";
  src: url("./fonts/Satoshi-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-satoshi: "Satoshi", system-ui, sans-serif;
}

@font-face {
  font-family: "Satoshi-Bold";
  src: url("./fonts/Satoshi-Bold.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@theme {
  --font-satoshib: "Satoshi-Bold", system-ui, sans-serif;
}

@utility font-satoshib {
  font-family: var(--font-satoshib);
}

@utility font-satoshi {
  font-family: var(--font-satoshi);
}

@layer base {
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  svg {
    shape-rendering: geometricPrecision;
    text-rendering: optimizeLegibility;
  }
}
